

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    background-color: rgb(116, 114, 207);
    width: 100%;
    height: 621px;
}

.heading{
    position: absolute;
    top: 0px;
   
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
  background-color: rgb(40, 40, 139);
  
}
.logo{
    margin-left :5%;
    font-size: 40pt;

}
.logo h1{
    position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
  text-shadow: 4px 4px black;
  color: rgb(195, 215, 231);
}
.menu-bar{
    display:flex;
    position:absolute;
    left:50%;
    padding-top: 30px;
    margin:0px;
    color:black;
}
.menu-bar li{
    list-style-type:none;
    display: inline;
    margin-left: 30px;
    font-size: 20pt;
    padding-left: 20px;

}
.menu-bar a{
    color:black;
    text-decoration: none;
   color: rgb(255, 255, 255);
}
.menu-bar li>a:hover{
    color: rgb(0, 0, 0);
    
}
.text{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 15%;
   
    
}




.text h1{
    padding: 30px;
    font-family: 'Vujahday Script', cursive;
    font-size: 40pt;
}
.trending{
    position: absolute;
    top: 80%;
    left: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20pt;
    background-color: rgb(20, 19, 107);
    padding: 5px;
}

.trending>a:hover{
    color: black;
}
/*Florent Reqica*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) {
    .home{
        background-color: rgb(199, 140, 207);
        height: 1300px;
    }

    .heading{
        
        height: 450px;
        display:block;
        flex-direction: column;
      background-color: rgb(159, 92, 190);
      
      
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo h1{
        font-size: 100px;
    }
   
    .menu-bar{
        display:flex;
        left: 38%;
       padding-top: 15px;
        
    }
    .menu-bar li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 50px;
    }
    
    
    .text{
        top: 25%;
        left: 4%;
    } 
   
    .text h1{     
        font-size: 80pt;
    }
    .text p{
        font-size: 25pt;
    }
    .trending{
        top: 48%;
        left: 37%;
    }
    .trending a{
        font-size: 40pt;
        background-color: rgb(105, 39, 126);
        padding: 20px;
        border-radius: 15px;
    }
   
    
}